html {
    scroll-behavior: smooth;
}

body {
    font-family: 'Montserrat', sans-serif;
    position: relative;
    color: var(--content-black-color);
    background-image: linear-gradient(180.11deg, var(--bg-white-color1) 10.73%, var(--bg-white-color2) 38.02%, var(--bg-white-color1) 71.11%, var(--bg-white-color2) 99.91%);
}

h2,
h3,
p {
    margin: 0;
}

ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

button {
    cursor: pointer;
}

img {
    display: block;
    max-width: 100%;
    height: auto;
}

a {
    text-decoration: none;

    &:hover,
    &:focus {
        text-decoration: none;
    }
}