:root {
    --content-black-color: #3C322D;
    --content-white-color: #F6F7F7;
    --content-pink-color: #F3848C;
    --white-color: #fff;

    --white-links-color: #FCFCFC;
    --bg-color: #E5E2E3;

    --speakers-bg-pink-color: rgba(243, 132, 140, 0.29);

    --timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}