:root {
    --bg-white-color1: #E5E2E3;
    --bg-white-color2: #FDFEFE;

    --content-black-color: #3C322D;
    --content-white-color: #F6F7F7;
    --content-pink-color: #F3848C;
    
    --white-color: #fff;
    --black-color: #000;

    --white-links-color: #FCFCFC;
    --bg-color: #E5E2E3;
    --price-card-bg-color: #FAFBFB;
    --contact-input-gray-color: rgba(0, 0, 0, 0.5);
    --speakers-bg-pink-color: rgba(243, 132, 140, 0.29);

    --timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}