<footer>
    <div class="container footer__container">
        <ul class="social-networks__list">
            <li class="social-networks__item">
                <a href="https://twitter.com/?lang=en"></a>
                <svg class="social-networks__svg" width="16" height="16">
                    <use class="social-networks__icon" href="./images/symbol-defs.svg#icon-twitter"></use>
                </svg>
            </li>
            <li class="social-networks__item">
                <a href="https://www.instagram.com/"></a>
                <svg class="social-networks__svg" width="16" height="16">
                    <use class="social-networks__icon" href="./images/symbol-defs.svg#icon-instagram"></use>
                </svg>
            </li>
            <li class="social-networks__item">
                <a href="https://www.facebook.com/"></a>
                <svg class="social-networks__svg" width="16" height="16">
                    <use class="social-networks__icon" href="./images/symbol-defs.svg#icon-facebook"></use>
                </svg>
            </li>
        </ul>
        <div class="footer__info">
            <p class="footer_phone">(910)222-8855</p>
            <p class="footer_location">New York</p>
        </div>
        <picture class="footer__picture">
            <source srcset="./images/footer-donuts-mobile.png, ./images/footer-donuts-mobile@2x.png 2x"
                media="(max-width: 767px)" />
            <img src="./images/footer-donuts-mobile.png" alt="2 donuts" />
        </picture>
    </div>
</footer>