<footer>
    <div class="container footer__container">
        <ul class="social-networks__list header__social-networks">
            <li class="social-networks__item">
                <a class="social-networks__link" href="https://twitter.com/?lang=en">
                    <svg class="social-networks__svg" width="16" height="16">
                        <use class="social-networks__icon" href="./images/symbol-defs.svg#icon-twitter"></use>
                    </svg>
                </a>
        
            </li>
            <li class="social-networks__item">
                <a class="social-networks__link" href="https://www.instagram.com/">
                    <svg class="social-networks__svg" width="16" height="16">
                        <use class="social-networks__icon" href="./images/symbol-defs.svg#icon-instagram"></use>
                    </svg>
                </a>
            </li>
            <li class="social-networks__item">
                <a class="social-networks__link" href="https://www.facebook.com/">
                    <svg class="social-networks__svg" width="16" height="16">
                        <use class="social-networks__icon" href="./images/symbol-defs.svg#icon-facebook"></use>
                    </svg>
                </a>
            </li>
        </ul>
        <div class="footer__info">
            <p class="footer__phone">
                <svg class="footer__icon" width="13" height="12">
                    <use href="./images/symbol-defs.svg#icon-phone"></use>
                </svg>
                <a class="footer__link" href="tel:+(910)2228855">+(910) 222 88 55</a>
            </p>

            <p class="footer__location">
                <svg class="footer__icon" width="11" height="14">
                    <use href="./images/symbol-defs.svg#icon-location"></use>
                </svg>
                <a class="footer__link" href="https://www.google.com/maps/place/%D0%9D%D1%8C%D1%8E-%D0%99%D0%BE%D1%80%D0%BA,+%D0%A1%D0%A8%D0%90/@40.6974881,-73.979681,10z/data=!3m1!4b1!4m5!3m4!1s0x89c24fa5d33f083b:0xc80b8f06e177fe62!8m2!3d40.7127753!4d-74.0059728">New York</a>
            </p>
        </div>
        <picture class="footer__picture">
            <source srcset="./images/footer-donuts-mobile.png, ./images/footer-donuts-mobile@2x.png 2x"
                media="(max-width: 767px)" />
            <img src="./images/footer-donuts-mobile.png" alt="2 donuts" />
        </picture>
    </div>
</footer>