<header class="header">
    <img src="./images/logo.png" alt="Logotype" class="header__logo">
    <ul class="nav-menu">
        <li class="nav-menu__item">About us</li>
        <li class="nav-menu__item">Program</li>
        <li class="nav-menu__item">Speakers</li>
        <li class="nav-menu__item">Price</li>
        <li class="nav-menu__item">Reviews</li>
        <li class="nav-menu__item">Contacts</li>
    </ul>
    <h1 class="header__title">Donut Masterclass with the Donut King</h1>
    <h2 class="header__subtitle">Hosted by Eva Green</h2>
    <button type="button">Register</button>
    <ul class="social-networks__list">
        <li class="social-networks__item">
            <svg class="social-networks__svg">
                <use class="social-networks__icon" href="./images/symbol-defs.svg#icon-twitter"></use>
            </svg>
        </li>
        <li class="social-networks__item">
            <svg class="social-networks__svg">
                <use class="social-networks__icon" href="./images/symbol-defs.svg#icon-instagram"></use>
            </svg>
        </li>
        <li class="social-networks__item">
            <svg class="social-networks__svg">
                <use class="social-networks__icon" href="./images/symbol-defs.svg#icon-facebook"></use>
            </svg>
        </li>
    </ul>
</header>