<header class="header">
    <container class="header__container">
        <div class="header__navigation">
            <picture class="header__logo-picture">
                <source srcset="./images/logo-desktop.png, ./images/logo-desktop@2x.png 2x" media="(min-width: 1200px)" />
                <source srcset="./images/logo-tablet.png, ./images/logo-tablet@2x.png 2x" media="(min-width: 768px)" />
                <source srcset="./images/logo-mobile.png, ./images/logo-mobile@2x.png 2x" media="(max-width: 767px)" />
                <img src="./images/logo-mobile.png" alt="Donut Masterclass" />
            </picture>
            <ul class="nav-menu header__nav-menu">
                <li class="nav-menu__item"><a class="nav-menu__link" href="#about">About us</a></li>
                <li class="nav-menu__item"><a class="nav-menu__link" href="#program">Program</a></li>
                <li class="nav-menu__item"><a class="nav-menu__link" href="#speakers">Speakers</a></li>
                <li class="nav-menu__item"><a class="nav-menu__link" href="#price">Price</a></li>
                <li class="nav-menu__item"><a class="nav-menu__link" href="#reviews">Reviews</a></li>
                <li class="nav-menu__item"><a class="nav-menu__link" href="#contact">Contacts</a></li>
            </ul>
            <button class="mobile-menu__button mobile-menu__button--open js-open-menu" type="button" aria-label="Mobile menu button"
                aria-controls="mobile-menu">
                <svg width="32" height="32" class="mobile-menu__icon mobile-menu__icon--burger">
                    <use href="./images/symbol-defs.svg#icon-burger"></use>
                </svg>
            </button>
        </div>
        <div class="header__main-info">
            <h1 class="header__title">Donut Masterclass with the Donut King</h1>
            <h2 class="header__subtitle">Hosted by Eva Green</h2>
            <button type="button" class="registration-button header__button"><a href="#registration">Register</a></button>
            <ul class="social-networks__list header__social-networks">
                <li class="social-networks__item">
                    <a href="https://twitter.com/?lang=en"></a>
                    <svg class="social-networks__svg" width="16" height="16">
                        <use class="social-networks__icon" href="./images/symbol-defs.svg#icon-twitter"></use>
                    </svg>
                </li>
                <li class="social-networks__item">
                    <a href="https://www.instagram.com/"></a>
                    <svg class="social-networks__svg" width="16" height="16">
                        <use class="social-networks__icon" href="./images/symbol-defs.svg#icon-instagram"></use>
                    </svg>
                </li>
                <li class="social-networks__item">
                    <a href="https://www.facebook.com/"></a>
                    <svg class="social-networks__svg" width="16" height="16">
                        <use class="social-networks__icon" href="./images/symbol-defs.svg#icon-facebook"></use>
                    </svg>
                </li>
            </ul>
        </div>
    </container>
</header>