<header class="header">
    <picture class="logo-picture">
        <source srcset="./images/logo-desktop.png, ./images/logo-desktop@2x.png 2x"
            media="(min-width: 1200px)" />
        <source srcset="./images/logo-tablet.png, ./images/logo-tablet@2x.png 2x"
            media="(min-width: 768px)" />
        <source srcset="./images/logo-mobile.png, ./images/logo-mobile@2x.png 2x"
            media="(max-width: 767px)" />
        <img src="./images/logo-mobile.png" alt="Donut Masterclass" />
    </picture>
    <ul class="nav-menu header__nav-menu">
        <li class="nav-menu__item">About us</li>
        <li class="nav-menu__item">Program</li>
        <li class="nav-menu__item">Speakers</li>
        <li class="nav-menu__item">Price</li>
        <li class="nav-menu__item">Reviews</li>
        <li class="nav-menu__item">Contacts</li>
    </ul>
    <button class="mobile-menu__button mobile-menu__button--open js-open-menu" type="button" aria-label="Mobile menu button"
        aria-controls="mobile-menu">
        <svg width="32" height="32" class="mobile-menu__icon mobile-menu__icon--burger">
            <use href="./images/symbol-defs.svg#icon-burger"></use>
        </svg>
    </button>
    <h1 class="header__title">Donut Masterclass with the Donut King</h1>
    <h2 class="header__subtitle">Hosted by Eva Green</h2>
    <button type="button" class="registration-button">Register</button>
    <ul class="social-networks__list">
        <li class="social-networks__item">
            <svg class="social-networks__svg">
                <use class="social-networks__icon" href="./images/symbol-defs.svg#icon-twitter"></use>
            </svg>
        </li>
        <li class="social-networks__item">
            <svg class="social-networks__svg">
                <use class="social-networks__icon" href="./images/symbol-defs.svg#icon-instagram"></use>
            </svg>
        </li>
        <li class="social-networks__item">
            <svg class="social-networks__svg">
                <use class="social-networks__icon" href="./images/symbol-defs.svg#icon-facebook"></use>
            </svg>
        </li>
    </ul>
</header>