<section class="mobile-menu js-menu-container">
    <div class="container mobile-menu__container">
        <div class="mobile-menu__header">
            <h2 class="header-menu__title header-menu__title--hidden">Mobile menu</h2>
            <picture class="logo-picture">
                <source srcset="./images/logo-tablet.png, ./images/logo-tablet@2x.png 2x" media="(min-width: 768px)" />
                <source srcset="./images/logo-mobile.png, ./images/logo-mobile@2x.png 2x" media="(max-width: 767px)" />
                <img src="./images/logo-mobile.png" alt="Donut Masterclass" />
            </picture>
            <button class="mobile-menu__button mobile-menu__button--close js-close-menu1" type="button"
                aria-label="Mobile menu button">
                <svg width="32" height="32" class="mobile-menu__icon mobile-menu__icon--close">
                    <use href="./images/symbol-defs.svg#icon-close"></use>
                </svg>
            </button>
        </div>
        
        <ul class="mobile-menu__list">
            <li class="mobile-menu__item"><a class="mobile-menu__link js-close-menu2" href="#about">About us</a></li>
            <li class="mobile-menu__item"><a class="mobile-menu__link js-close-menu3" href="#program">Program</a></li>
            <li class="mobile-menu__item"><a class="mobile-menu__link js-close-menu4" href="#speakers">Speakers</a></li>
            <li class="mobile-menu__item"><a class="mobile-menu__link js-close-menu5" href="#price">Price</a></li>
            <li class="mobile-menu__item"><a class="mobile-menu__link js-close-menu6" href="#reviews">Reviews</a></li>
            <li class="mobile-menu__item"><a class="mobile-menu__link js-close-menu7" href="#contact">Contacts</a></li>
        </ul>
    </div>
</section>