<section id="price" class="price">
    <div class="container price__container">
        <h2 class="section-title price__title">Price</h2>
        <ul class="price__list">
            <li class="price-card">
                <h3 class="price-card__type">Easy start</h3>
                <ul class="price-card__list">
                    <li class="price-card__item">features of yeast dough preparation</li>
                    <li class="price-card__item">preparation of liquid caramel
                        for stuffing</li>
                    <li class="price-card__item">preparation of raspberry and strawberry filling</li>
                    <li class="price-card__item">fry and glaze donuts</li>
                </ul>
                <picture class="price-card__picture price-card__picture--first">
                    <source srcset="./images/price-donuts-desktop.png, ./images/price-donuts-desktop@2x.png 2x"
                        media="(min-width: 1200px)" />
                    <source srcset="./images/price-donuts-tablet.png, ./images/price-donuts-tablet@2x.png 2x"
                        media="(min-width: 768px)" />
                    <source srcset="./images/price-donuts-mobile.png, ./images/price-donuts-mobile@2x.png 2x"
                        media="(max-width: 767px)" />
                    <img src="./images/price-donuts-mobile.png" alt="donuts with colorful toppings" />
                </picture>
                <button type="button" class="registration-button">
                    <a href="#registration">Register</a>
                </button>
            </li>
            <li class="price-card">
                <h3 class="price-card__type">I want delicious donuts</h3>
                <ul class="price-car__list">
                    <li class="price-card__item">features of yeast dough preparation</li>
                    <li class="price-card__item">preparation of liquid caramel
                        for stuffing</li>
                    <li class="price-card__item">preparation of raspberry and strawberry filling</li>
                    <li class="price-card__item">melt chocolate for decoration</li>
                    <li class="price-card__item">fry and glaze donuts</li>
                    <li class="price-card__item">donut decoration. painting and various techniques</li>
                </ul>
                <picture class="price-card__picture">
                    <source srcset="./images/price-donuts-desktop.png, ./images/price-donuts-desktop@2x.png 2x"
                        media="(min-width: 1200px)" />
                    <source srcset="./images/price-donuts-tablet.png, ./images/price-donuts-tablet@2x.png 2x"
                        media="(min-width: 768px)" />
                    <source srcset="./images/price-donuts-mobile.png, ./images/price-donuts-mobile@2x.png 2x"
                        media="(max-width: 767px)" />
                    <img src="./images/price-donuts-mobile.png" alt="donuts with colorful toppings" />
                </picture>
                <button type="button" class="registration-button">
                    <a href="#registration">Register</a>
                </button>
            </li>
            <li class="price-card">
                <h3 class="price-card__type">Premium</h3>
                <ul class="price-card__list">
                    <li class="price-card__item">features of yeast dough preparation</li>
                    <li class="price-card__item">preparation of liquid caramel
                        for stuffing</li>
                    <li class="price-card__item">preparation of raspberry and strawberry filling</li>
                    <li class="price-card__item">melt chocolate for decoration</li>
                    <li class="price-card__item">fry and glaze donuts</li>
                    <li class="price-card__item">donut decoration. painting and various techniques</li>
                    <li class="price-card__item">after party and donut tasting with speakers</li>
                    <li class="price-card__item">2 private lessons with one of the speakers</li>
                </ul>
                <picture class="price-card__picture">
                    <source srcset="./images/price-donuts-desktop.png, ./images/price-donuts-desktop@2x.png 2x"
                        media="(min-width: 1200px)" />
                    <source srcset="./images/price-donuts-tablet.png, ./images/price-donuts-tablet@2x.png 2x"
                        media="(min-width: 768px)" />
                    <source srcset="./images/price-donuts-mobile.png, ./images/price-donuts-mobile@2x.png 2x"
                        media="(max-width: 767px)" />
                    <img src="./images/price-donuts-mobile.png" alt="donuts with colorful toppings" />
                </picture>
                <button type="button" class="registration-button">
                    <a href="#registration">Register</a>
                </button>
            </li>
        </ul>
    </div>
</section>