<section id="program" class="program">
    <div class="container program__container">
        <h2 class="section-title">Program</h2>
        <p class="section-text program__text">Indulge in this immersive sweet treat experience with The Chef Donut Queen
        in her New York donut shop!</p>
        <ul class="program__list">
            <li class="program__item">A stand up history of donuts</li>
            <li class="program__item">Make 3 donut flavors of your choice</li>
            <li class="program__item">Enjoy all-you-can-eat donuts</li>
            <li class="program__item">Cocktail pairings and coffee included</li>
            <li class="program__item">Photoshoot by professional photographer</li>
            <li class="program__item">Secret receipt of cooking from Eva</li>
            <li class="program__item">All products are included in the price</li>
            <li class="program__item"></li>
        </ul>
        <p class="section-text program__text">Come with your dear people and friends
        and you will spend an unforgettable time and
        will become a real professional
        in donuts cooking!</p>
        <ul class="program-pictures__list">
            <li class="program-pictures__item program-pictures__item--first">
                <picture class="program-pictures__picture">
                    <source srcset="./images/program-img1-desktop.png, ./images/program-img1-desktop@2x.png 2x" media="(min-width: 1200px)" />
                    <source srcset="./images/program-img1-tablet.png, ./images/program-img1-tablet@2x.png 2x" media="(min-width: 768px)" />
                    <source srcset="./images/program-img1-mobile.png, ./images/program-img1-mobile@2x.png 2x" media="(max-width: 767px)" />
                    <img src="./images/program-img1-mobile.png" alt="вonut making master class" />
                </picture>
                <h3 class="program-pictures__title">Type of the event</h3>
                <p class="program-pictures__subtitle">Cooking classes</p>
            </li>
            <li class="program-pictures__item program-pictures__item--second">
                <picture class="program-pictures__picture">
                    <source srcset="./images/program-img2-desktop.png, ./images/program-img2-desktop@2x.png 2x" media="(min-width: 1200px)" />
                    <source srcset="./images/program-img2-tablet.png, ./images/program-img2-tablet@2x.png 2x" media="(min-width: 768px)" />
                    <source srcset="./images/program-img2-mobile.png, ./images/program-img2-mobile@2x.png 2x" media="(max-width: 767px)" />
                    <img src="./images/program-img2-mobile.png" alt="people sitting in a meeting" />
                </picture>
                <h3 class="program-pictures__title">Number of guests</h3>
                <p class="program-pictures__subtitle">1 to 20</p>
            </li>
            <li class="program-pictures__item program-pictures__item--third">
                <picture class="program-pictures__picture">
                    <source srcset="./images/program-img3-desktop.png, ./images/program-img3-desktop@2x.png 2x" media="(min-width: 1200px)" />
                    <source srcset="./images/program-img3-tablet.png, ./images/program-img3-tablet@2x.png 2x" media="(min-width: 768px)" />
                    <source srcset="./images/program-img3-mobile.png, ./images/program-img3-mobile@2x.png 2x" media="(max-width: 767px)" />
                    <img src="./images/program-img3-mobile.png" alt="frightened man with a watch" />
                </picture>
                <h3 class="program-pictures__title">Type of the event</h3>
                <p class="program-pictures__subtitle">18:30 (2.5 hours)</p>
            </li>
            <li class="program-pictures__item program-pictures__item--fourth">
                <picture class="program-pictures__picture">
                    <source srcset="./images/program-img4-desktop.png, ./images/program-img4-desktop@2x.png 2x" media="(min-width: 1200px)" />
                    <source srcset="./images/program-img4-tablet.png, ./images/program-img4-tablet@2x.png 2x" media="(min-width: 768px)" />
                    <source srcset="./images/program-img4-mobile.png, ./images/program-img4-mobile@2x.png 2x" media="(max-width: 767px)" />
                    <img src="./images/program-img4-mobile.png" alt="girl speaking in front of an audience" />
                </picture>
                <h3 class="program-pictures__title">The host speakers</h3>
                <p class="program-pictures__subtitle">English, French</p>
            </li>
        </div>
    </div>
</section>