<article class="reviews">
    <container class="reviews__container">
        <h2 class="section-title">Reviews</h2>
        <ul class="reviews__list">
            <li class="reviews__item">
                <picture class="reviews__picture">
                    <source srcset="./images/reviews-img1-desktop.png, ./images/reviews-img1-desktop@2x.png 2x"
                        media="(min-width: 1200px)" />
                    <source srcset="./images/reviews-img1-tablet.png, ./images/reviews-img1-tablet@2x.png 2x"
                        media="(min-width: 768px)" />
                    <img src="./images/reviews-img1-tablet.png" alt="reviewer John" />
                </picture>
                <h3 class="reviews__name">John</h3>
                <div class="reviews__stars">
                    <img src="./images/reviews-star1.png" alt="star">
                    <img src="./images/reviews-star1.png" alt="star">
                    <img src="./images/reviews-star1.png" alt="star">
                    <img src="./images/reviews-star1.png" alt="star">
                    <img src="./images/reviews-star2.png" alt="star">
                </div>
            </li>
        </ul>
        <ul class="reviews__list">
            <li class="reviews__item reviews__item--center-photo">
                <picture class="reviews__picture">
                    <source srcset="./images/reviews-img2-desktop.png, ./images/reviews-img2-desktop@2x.png 2x"
                        media="(min-width: 1200px)" />
                    <source srcset="./images/reviews-img2-tablet.png, ./images/reviews-img2-tablet@2x.png 2x"
                        media="(min-width: 768px)" />
                    <source srcset="./images/reviews-img2-mobile.png, ./images/reviews-img2-mobile@2x.png 2x"
                        media="(max-width: 767px)" />
                    <img src="./images/reviews-img2-mobile.png" alt="reviewer Will" />
                </picture>
                <h3 class="reviews__name">Will</h3>
                <div class="reviews__stars">
                    <img src="./images/reviews-star1.png" alt="star">
                    <img src="./images/reviews-star1.png" alt="star">
                    <img src="./images/reviews-star1.png" alt="star">
                    <img src="./images/reviews-star1.png" alt="star">
                    <img src="./images/reviews-star1.png" alt="star">
                </div>
            </li>
        </ul>
        <ul class="reviews__list">
            <li class="reviews__item">
                <picture class="reviews__picture">
                    <source srcset="./images/reviews-img3-desktop.png, ./images/reviews-img3-desktop@2x.png 2x"
                        media="(min-width: 1200px)" />
                    <source srcset="./images/reviews-img3-tablet.png, ./images/reviews-img3-tablet@2x.png 2x"
                        media="(min-width: 768px)" />
                    <img src="./images/reviews-img1-tablet.png" alt="reviewer Elisabeth" />
                </picture>
                <h3 class="reviews__name">Elisabeth</h3>
                <div class="reviews__stars">
                    <img src="./images/reviews-star1.png" alt="star">
                    <img src="./images/reviews-star1.png" alt="star">
                    <img src="./images/reviews-star1.png" alt="star">
                    <img src="./images/reviews-star1.png" alt="star">
                    <img src="./images/reviews-star1.png" alt="star">
                </div>
            </li>
        </ul>
        
        
       

    </container>
</article>