<article id="reviews" class="reviews">
    <div class="container reviews__container">
        <h2 class="section-title reviews__title">Reviews</h2>
        <ul class="reviews__list">
            <li class="reviews__item reviews__item--small-photo">
                <picture class="reviews__picture reviews__picture--small-photo">
                    <source srcset="./images/reviews-img1-desktop.png, ./images/reviews-img1-desktop@2x.png 2x"
                        media="(min-width: 1200px)" />
                    <source srcset="./images/reviews-img1-tablet.png, ./images/reviews-img1-tablet@2x.png 2x"
                        media="(min-width: 768px)" />
                    <img src="./images/reviews-img1-tablet.png" alt="reviewer John" />
                </picture>
                <div class="reviews__stars">
                    <img src="./images/reviews-star1.png" alt="star">
                    <img src="./images/reviews-star1.png" alt="star">
                    <img src="./images/reviews-star1.png" alt="star">
                    <img src="./images/reviews-star1.png" alt="star">
                    <img src="./images/reviews-star2.png" alt="star">
                </div>
                <h3 class="reviews__name">John</h3>
            </li>
            <li class="reviews__item reviews__item--big-photo">
                <picture class="reviews__picture reviews__picture--big-photo">
                    <source srcset="./images/reviews-img2-desktop.png, ./images/reviews-img2-desktop@2x.png 2x"
                        media="(min-width: 1200px)" />
                    <source srcset="./images/reviews-img2-tablet.png, ./images/reviews-img2-tablet@2x.png 2x"
                        media="(min-width: 768px)" />
                    <source srcset="./images/reviews-img2-mobile.png, ./images/reviews-img2-mobile@2x.png 2x"
                        media="(max-width: 767px)" />
                    <img src="./images/reviews-img2-mobile.png" alt="reviewer Will" />
                </picture>
                <div class="reviews__stars">
                    <img src="./images/reviews-star1.png" alt="star">
                    <img src="./images/reviews-star1.png" alt="star">
                    <img src="./images/reviews-star1.png" alt="star">
                    <img src="./images/reviews-star1.png" alt="star">
                    <img src="./images/reviews-star1.png" alt="star">
                </div>
                <h3 class="reviews__name">Will</h3>
            </li>
            <li class="reviews__item reviews__item--small-photo">
                <picture class="reviews__picture reviews__picture--small-photo">
                    <source srcset="./images/reviews-img3-desktop.png, ./images/reviews-img3-desktop@2x.png 2x"
                        media="(min-width: 1200px)" />
                    <source srcset="./images/reviews-img3-tablet.png, ./images/reviews-img3-tablet@2x.png 2x"
                        media="(min-width: 768px)" />
                    <img src="./images/reviews-img1-tablet.png" alt="reviewer Elisabeth" />
                </picture>
                <div class="reviews__stars">
                    <img src="./images/reviews-star1.png" alt="star">
                    <img src="./images/reviews-star1.png" alt="star">
                    <img src="./images/reviews-star1.png" alt="star">
                    <img src="./images/reviews-star1.png" alt="star">
                    <img src="./images/reviews-star1.png" alt="star">
                </div>
                <h3 class="reviews__name">Elisabeth</h3>
            </li>
        </ul>
        <p class="reviews__comment">Last time I have visited a cooking course by Eva
            I was impressed with the way she explained everything
            to people. You can be sure you will manage to cook a delicious dish even if it is your first time in the kitchen!
        </p>
        <p class="reviews__comment">Thank you so much for the masterclass! Looking forward to the next one and highly recommend
            it to everyone!</p>
        <p class="reviews___pagination">2/15</p>
    </div>
</article>