<section class="speakers">
    <container class="speakers__container">
        <h2 class="section-title">Speakers</h2>
        <ul class="speaker__list">
            <li class="speakers__item">
                <div class="speakers__image">
                    <!-- <picture class="speakers__picture--up">
                        <source srcset="./images/speakers-up-img1-desktop.png" media="(min-width: 1200px)" />
                        <source srcset="./images/speakers-up-img1-tablet.png" media="(min-width: 768px)" />
                        <source srcset="./images/speakers-up-img1-mobile.png" media="(max-width: 767px)" />
                        <img src="./images/speakers-up-img1-mobile.png" alt="speaker Molly Rivera" />
                    </picture> -->
                    
                    <picture class="speakers__picture">
                        <source srcset="./images/speakers-img1-desktop.png, ./images/speakers-img1-desktop@2x.png 2x"
                            media="(min-width: 1200px)" />
                        <source srcset="./images/speakers-img1-tablet.png, ./images/speakers-img1-tablet@2x.png 2x"
                            media="(min-width: 768px)" />
                        <source srcset="./images/speakers-img1-mobile.png, ./images/speakers-img1-mobile@2x.png 2x"
                            media="(max-width: 767px)" />
                        <img src="./images/speakers-img1-mobile.png" alt="speaker Molly Rivera" />
                    </picture>
                </div>
                <h3 class="speakers_name">Molly Rivera</h3>
                <p class="speakers__post">Pastry chef, master chocolatier of Spain,</p>
            </li>
            <li class="speakers__item">
                <div class="speakers__image">
                    <!-- <picture class="speakers__picture--up">
                        <source srcset="./images/speakers-up-img2-desktop.png" media="(min-width: 1200px)" />
                        <source srcset="./images/speakers-up-img2-tablet.png" media="(min-width: 768px)" />
                        <source srcset="./images/speakers-up-img2-mobile.png" media="(max-width: 767px)" />
                        <img src="./images/speakers-up-img2-mobile.png" alt="speaker Sophia Clark" />
                    </picture> -->

                    <picture class="speakers__picture">
                        <source srcset="./images/speakers-img2-desktop.png, ./images/speakers-img2-desktop@2x.png 2x"
                            media="(min-width: 1200px)" />
                        <source srcset="./images/speakers-img2-tablet.png, ./images/speakers-img2-tablet@2x.png 2x"
                            media="(min-width: 768px)" />
                        <source srcset="./images/speakers-img2-mobile.png, ./images/speakers-img2-mobile@2x.png 2x"
                            media="(max-width: 767px)" />
                        <img src="./images/speakers-img2-mobile.png" alt="speaker Sophia Clark" />
                    </picture>
                </div>
                <h3 class="speakers_name">Sophia Clark</h3>
                <p class="speakers__post">Сulinary school pastry chef</p>
            </li>
            <li class="speakers__item">
                <div class="speakers__image">
                    <!-- <picture class="speakers__picture--up">
                        <source srcset="./images/speakers-up-img3-desktop.png" media="(min-width: 1200px)" />
                        <source srcset="./images/speakers-up-img3-tablet.png" media="(min-width: 768px)" />
                        <source srcset="./images/speakers-up-img3-mobile.png" media="(max-width: 767px)" />
                        <img src="./images/speakers-up-img3-mobile.png" alt="speaker Isabella Taylor" />
                    </picture> -->

                    <picture class="speakers__picture">
                        <source srcset="./images/speakers-img3-desktop.png, ./images/speakers-img3-desktop@2x.png 2x"
                            media="(min-width: 1200px)" />
                        <source srcset="./images/speakers-img3-tablet.png, ./images/speakers-img3-tablet@2x.png 2x"
                            media="(min-width: 768px)" />
                        <source srcset="./images/speakers-img3-mobile.png, ./images/speakers-img3-mobile@2x.png 2x"
                            media="(max-width: 767px)" />
                        <img src="./images/speakers-img3-mobile.png" alt="speaker Isabella Taylor" />
                    </picture>
                </div>
                <h3 class="speakers_name">Isabella Taylor</h3>
                <p class="speakers__post">Сonsultant in the art of confectionery</p>
            </li>
            <li class="speakers__item">
                <div class="speakers__image">
                    <!-- <picture class="speakers__picture--up">
                        <source srcset="./images/speakers-up-img4-desktop.png" media="(min-width: 1200px)" />
                        <source srcset="./images/speakers-up-img4-tablet.png" media="(min-width: 768px)" />
                        <source srcset="./images/speakers-up-img4-mobile.png" media="(max-width: 767px)" />
                        <img src="./images/speakers-up-img4-mobile.png" alt="speaker Evelyn Miller" />
                    </picture> -->

                    <picture class="speakers__picture">
                        <source srcset="./images/speakers-img4-desktop.png, ./images/speakers-img4-desktop@2x.png 2x"
                            media="(min-width: 1200px)" />
                        <source srcset="./images/speakers-img4-tablet.png, ./images/speakers-img4-tablet@2x.png 2x"
                            media="(min-width: 768px)" />
                        <source srcset="./images/speakers-img4-mobile.png, ./images/speakers-img4-mobile@2x.png 2x"
                            media="(max-width: 767px)" />
                        <img src="./images/speakers-img4-mobile.png" alt="speaker Evelyn Miller" />
                    </picture>
                </div>
                <h3 class="speakers_name">Evelyn Miller</h3>
                <p class="speakers__post">Master-chocolatier in Spain</p>
            </li>
        </ul>
    </container>
</section>