.registration-button {
    width: 145px;
    height: 40px;
    border: none;
    border-radius: 30px;
    font-weight: 400;
    font-size: 18px;
    color: var(--white-color);
    background-color: var(--content-pink-color);
    filter: drop-shadow(10px 15px 25px rgba(232, 183, 183, 0.45));
}

.registration-button a {
    color: var(--white-color);
}