.about__container {
    padding-top: 20px;
}

.about__picture img {
    border-radius: 25px;
    margin-left: auto;
    margin-right: auto;
}

.about__description {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.about__text {
    margin-bottom: 10px;
}

.about__additional-text {
    display: none;
}

.about__description a {
    font-size: 16px;
    font-weight: 500;
    line-height: 20px;
    color: var(--content-black-color);
    margin-right: auto;
}

.less-link {
    display: none;
}

@media screen and(max-width:767px) {

    .about__title {
        margin-bottom: 8px; 
    }

    .about__picture img {
        margin-bottom: 28px;
    }

}

@media screen and(min-width:768px) {
    
    .about__container {
        display: flex;
        justify-content: space-between;
        padding-bottom: 30px;
        padding-top: 35px;
    }

    .about__picture img {
        width: 336px;
    }

    .about__description {
        display: block;
        width: 337px;
    }

    .about__title {
        margin-right: auto;
        text-align: start;
    }

    .about__text {
        margin-bottom: 20px;
    }

}

@media screen and(min-width:1200px) {

    .about__container {
        padding-bottom: 0;
        padding-top: 65px;
    }

    .about__picture img,
    .about__description {
        width: 570px;
    }

    .about__description a {
        display: none;
    }

    .about__additional-text {
        display: block;
    }

}
