.contact {
    margin-bottom: 28px;
}

.contact__title {
    margin-bottom: 27px;
}

.contact__container p {
    text-align: center;
}

.contact-form {
    margin-top: 16px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.contact-form__input {
    width: 280px;
    margin-bottom: 20px;
    font-weight: 400;
    font-size: 16px;
    line-height: 20px;
    border: none;
    background: transparent;
    border-bottom: 1px solid var(--black-color);
    color: var(--contact-input-gray-color);

    &::placeholder {
        color: var(--contact-input-gray-color);
    }

    &:placeholder-shown:required {
        border-color: var(--black-color);
    }

    &:valid {
        border-color: var(--black-color);
    }

    &:invalid {
        border-color: red;
    }

}

.contact-form button {
    margin-top: 8px;
}

@media screen and (min-width:768px) {

    .contact {
        margin-bottom: 31px;
    }
    
    .contact__container,
    .contact-form__input {
        width: 336px;
    }
    
}

@media screen and (min-width:1200px) {

    .contact {
        margin-bottom: 37px;
    }
    
    .contact__container,
    .contact-form__input {
        width: 394px;
    }

}