.footer__container ul {
    margin-right: auto;
    margin-left: auto;
}

.footer__info {
    margin-top: 40px;
    display: flex;
    justify-content: space-between;
}

.footer__phone,
.footer__location {
    font-weight: 400;
    font-size: 16px;
    line-height: 20px;
}

.footer__phone,
.footer__location {
    transition: color 250ms var(--timing-function);

    &:hover .footer__link,
    &:focus .footer__link {
        color: var(--content-pink-color);
    }

    &:hover .footer__icon use,
    &:focus .footer__icon use {
        fill: var(--content-pink-color);
    }
}

.footer__link {
    margin-right: 5px;
    color: var(--content-black-color);
    transition: color 250ms var(--timing-function);
}

.footer__icon use {
    fill: var(--content-black-color);
    transition: fill 250ms var(--timing-function);
}

.footer__picture img {
    margin: 0px auto 20px;
}

@media screen and (min-width:768px) {

    footer {
        padding-bottom: 80px;
    }

    .footer__info {
        margin-top: 80px;
    }

    .footer__icon,
    .footer__picture {
        display: none;
    }

}

@media screen and (min-width:1200px) {

    footer {
        padding-bottom: 100px;
    }

    .footer__info {
        margin-top: 100px;
    }
}